* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  cursor: pointer;
  transition: 0.8s;
  transition-delay: .8s;
  background-color: rgb(23, 23, 23);
}

.nav.active {
  width: 200px;
  height: 200px;
  transition: 0.8s;
  /* transition-delay: .8s; */
  background-color: rgb(45, 44, 44);
}

.nav span {
  position: absolute;
  height: 5px;
  width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background-color: rgb(33, 57, 78);
  font-size: 0;
  transform: translate(calc(9px * var(--y)), calc(9px * var(--x)));
  transition: transform .5s, width .5s, height .5s, background .5s, font-size .5s;
  transition-delay: calc(.1s * var(--i));
}

.nav.active span{
  height: 43px;
  width: 43px;
  font-size: 1rem;
  transform: translate(calc(55px * var(--y)), calc(55px * var(--x)));
}

.nav.active span:hover a {
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) 
   drop-shadow(0 0 5px #2dfc52)
   drop-shadow(0 0 15px #2dfc52);
}
.nav.active span:hover p{
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) 
   drop-shadow(0 0 5px #2dfc52)
   drop-shadow(0 0 15px #2dfc52);
}